<header>
    <div class="header">
        <div class="row" style="width: 100%;">
            <div class="col-3" style="display: flex; justify-content: center; align-items: center">
                <img src="/image/av1.png">
                <span>Blog</span>
            </div>
            <div class="col-9 col-right" style=" padding-right: 120px;">
                <ul>
                    <li>Home</li>
                </ul>
            </div>
        </div>
    </div>
</header>